body{
    font-family: sans-serif;
    margin: 0;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.musicplayer{
    background-color: #121212;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    height: 100px;
}body{
  font-family: "Montserrat", system-ui;
  margin: 0;
  background-color: #000;
  color:#fff;
  overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color:#000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.maincontent{
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
}
.navoption{
    line-height: 2.5rem;
    opacity:0.75;
    padding: 0.5rem 0.75rem;
}
.navoption:hover{
    
    opacity:1
}
.navoption i{
    font-size: 1.25rem;
}
.navoption a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.liboption img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.75;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}
.boxp1{
    font-size: 1rem;
    font-weight: 700;
}
.boxp2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding:0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.darkbadge{
    background-color: #000;
    color: #fff;
}
.stickynav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.navicons{
    margin-left: 0.75rem;
}
.stickynavoption{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navitem{
    margin-right: 1rem;
}
@media( max-width:1000px){

    .hide{
        display: none;
    }


}
.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.cardcontainer{
    display: flex;
    flex-wrap: wrap;
}
.cardimg{
    width:100%
}
.cardtitle{
    font-weight: 600;
}
.cardinfo{
    opacity: 0.75;
    font-size: 0.85rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 2px solid white;
    opacity: 0.4;
}
.musicplayer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.controls{
    width: 25%;
}
.playercontrolicon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.5;
}
.playercontrols{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playercontrolicon:hover{
    opacity: 1;
}
.playerbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progressbar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
}
.progressbar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    margin-top: -6px;
    border-radius: 50%;
}